*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: flex-start;
    background-color: black;
    padding: 10px;
    margin-bottom: 40px;
}
#btn{
    width: 100px;
    height: 100px;
    background-color: red;
    font-size: 40px;
}
.note{
    position: flex;    
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    border: 2px solid black;
    resize: both;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    word-break: break-all;
}
.container{
    display: grid;
    margin: 0 20px;
    height: 50vh;
    gap: 30px;
    grid-template-columns: repeat(5, 1fr);
}